/* DEBUG */

.debug{
    border: 1px solid black;
}

/* GENERAL */
.line-1{
    height: 5px;
    background-color: white;
}


/* HEADER */

header{
    background-color: #2C3E50;
}

/* JUMBOTRON - ABOUT */

#jumbotron,
#about{
    background-color: #1ABC9C;
}
#jumbotron img{
    height: 250px;
}

/* PORTFOLIO - CONTACT.ME */

#portfolio
#contact-me{
    background-color: white;
}

/* FOOTER */

#footer{
    background-color: #3A546D;
}

/* SUB-FOOTER */
#sub-footer{
    background-color: #2C3E50;
}   