/* DEBUG */

.debug{
    border: 1px solid black;
}

/* GENERAL */
.star-container{
    width: 350px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.line-1{
    height: 5px;
    background-color: white;
}
.fa-star{
    font-size: 30px;
}


/* HEADER */

header{
    background-color: #2C3E50;
}

/* JUMBOTRON - ABOUT */

#jumbotron,
#about{
    background-color: #1ABC9C;
}
#jumbotron img{
    height: 250px;
}
.lorem-container{
    width: 70%;
    margin: 0 auto;
}

/* PORTFOLIO - CONTACT-ME */

#portfolio
#contact-me{
    background-color: white;
}
#portfolio .line-1{
    background-color: black;
}
.img-container{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.fa-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5em;
    color: white;
    visibility: hidden;
}
.img-over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.7);
    visibility: hidden;
}
.img-container:hover .img-over{
    visibility: visible;
}
.img-container:hover .fa-plus{
    visibility: visible;
}
#contact-me .line-1{
    background-color: black;
}

/* FOOTER */

#footer{
    background-color: #3A546D;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer a i{
    font-size: 20px;
}
#footer h5 a{
    color:#1ABC9C;
}
.fa-container{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    vertical-align: middle;
    line-height: 50px;
}

/* SUB-FOOTER */
#sub-footer{
    background-color: #2C3E50;
}   